<div class="ui-g">
  <div class="ui-g-12">
    <p-table [value]="dados">
      <ng-template pTemplate="caption">
        <div>
          <p>Covid-19 no mundo</p>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Casos</th>
          <th>Mortes</th>
          <th>Curados</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dado>
        <tr>
          <td>{{ dado.cases }}</td>
          <td>{{ dado.deaths }}</td>
          <td>{{ dado.recovered }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<br />

<app-countries></app-countries>
